root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.{kt, kts}]
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
