root = true

[*]
charset = utf-8
end_of_line=lf
indent_size = 4
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma=true
ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_imports_layout=*

ktlint_standard_annotation=disabled
ktlint_standard_filename=disabled
ktlint_standard_indent=disabled
ktlint_standard_max-line-length=disabled
ktlint_standard_spacing-between-declarations-with-annotations=disabled

ktlint_standard_wrapping=disabled
ktlint_standard_parameter-wrapping=disabled
ktlint_standard_property-wrapping=disabled
ktlint_standard_argument-list-wrapping=disabled
ktlint_standard_parameter-list-wrapping=disabled
ktlint_standard_trailing-comma-on-call-site=disabled
ktlint_standard_trailing-comma-on-declaration-site=disabled
