# Android
local.properties
*.DS_Store

# Gradle
.gradle
build
**/build

# Intellij
*.iml
*.ipr
*.iws
.idea

# Kotlin
.kotlin

# Docs
docs/api
site

# Xcode
*.xcuserstate
**/xcuserdata

# https://github.com/square/okio/issues/1163
**/webpack.config.d/applyNodePolyfillPlugin.js
