# Android
local.properties
*.DS_Store

# Gradle
.gradle
build
**/build

# Intellij
*.iml
*.ipr
*.iws
.idea

# Kotlin
.kotlin

# Docs
docs/api
docs/sample
site

# Xcode
*.xcuserstate
**/xcuserdata

# Claude
settings.local.json
