<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="coil.test">

    <application>
        <activity
            android:name="coil.util.TestActivity"
            android:theme="@style/Theme.TestActivity"/>
    </application>
</manifest>
