[versions]
accompanist = "0.23.1"
androidx-activity = "1.4.0"
androidx-lifecycle = "2.4.1"
androidx-test = "1.4.0"
compose = "1.1.1"
coroutines = "1.6.2"
ktlint = "0.44.0"
okhttp = "4.10.0"
okio = "3.0.0"

[plugins]
binaryCompatibility = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version = "0.10.1" }
dokka = { id = "org.jetbrains.dokka", version = "1.6.10" }
ktlint = { id = "org.jlleitschuh.gradle.ktlint", version = "10.3.0" }

[libraries]
gradlePlugin-android = "com.android.tools.build:gradle:7.2.1"
gradlePlugin-kotlin = "org.jetbrains.kotlin:kotlin-gradle-plugin:1.6.10"
gradlePlugin-mavenPublish = "com.vanniktech:gradle-maven-publish-plugin:0.20.0"

accompanist-drawablepainter = { module = "com.google.accompanist:accompanist-drawablepainter", version.ref = "accompanist" }
accompanist-insets = { module = "com.google.accompanist:accompanist-insets", version.ref = "accompanist" }

androidx-activity = { module = "androidx.activity:activity-ktx", version.ref = "androidx-activity" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "androidx-activity" }
androidx-appcompat-resources = "androidx.appcompat:appcompat-resources:1.4.2"
androidx-annotation = "androidx.annotation:annotation:1.3.0"
androidx-collection = "androidx.collection:collection:1.2.0"
androidx-constraintlayout = "androidx.constraintlayout:constraintlayout:2.1.4"
androidx-core = "androidx.core:core-ktx:1.8.0"
androidx-exifinterface = "androidx.exifinterface:exifinterface:1.3.3"
androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime", version.ref = "androidx-lifecycle" }
androidx-lifecycle-viewmodel = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidx-lifecycle" }
androidx-lifecycle-viewmodel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "androidx-lifecycle" }
androidx-recyclerview = "androidx.recyclerview:recyclerview:1.2.1"
androidx-test-core = { module = "androidx.test:core-ktx", version.ref = "androidx-test" }
androidx-test-junit = "androidx.test.ext:junit-ktx:1.1.3"
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidx-test" }
androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidx-test" }
androidx-vectordrawable-animated = "androidx.vectordrawable:vectordrawable-animated:1.1.0"

compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }

coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }

junit = "junit:junit:4.13.2"

kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test-junit" }

material = "com.google.android.material:material:1.6.1"

okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-mockwebserver = { module = "com.squareup.okhttp3:mockwebserver", version.ref = "okhttp" }

okio = { module = "com.squareup.okio:okio", version.ref = "okio" }
okio-fakefilesystem = { module = "com.squareup.okio:okio-fakefilesystem", version.ref = "okio" }

robolectric = "org.robolectric:robolectric:4.8.1"

svg = "com.caverock:androidsvg-aar:1.4"

[bundles]
test-jvm = [
    "androidx-test-core",
    "androidx-test-junit",
    "androidx-test-rules",
    "androidx-test-runner",
    "coroutines-test",
    "junit",
    "kotlin-test",
    "okhttp-mockwebserver",
    "okio-fakefilesystem",
    "robolectric"
]
test-android = [
    "androidx-test-core",
    "androidx-test-junit",
    "androidx-test-rules",
    "androidx-test-runner",
    "coroutines-test",
    "junit",
    "kotlin-test",
    "okhttp-mockwebserver"
]
