<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="coil.compose.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="coil.compose.TestApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name="androidx.activity.ComponentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>
