<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ComposeTestActivity"
            android:exported="true"
            android:theme="@style/Theme.TestActivity"/>

        <activity
            android:name=".ViewTestActivity"
            android:exported="true"
            android:theme="@style/Theme.TestActivity"/>
    </application>
</manifest>
