name: CI
on:
    push:
        branches:
            - main
    pull_request:
jobs:
    check:
        name: Check
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 16
            - uses: actions/cache@v2
              with:
                  path: ~/.gradle/caches
                  key: gradle-${{ runner.os }}-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Check style
              run: ./gradlew ktlintCheck

            # Check if there has been a binary incompatible change to the API.
            # If this change is intentional, run `./gradlew apiDump` and commit the new API files.
            - name: Check binary compatibility
              run: ./gradlew apiCheck

    unit-tests:
        name: Unit tests
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11
            - uses: actions/cache@v2
              with:
                  path: ~/.gradle/caches
                  key: gradle-${{ runner.os }}-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Unit tests
              run: ./gradlew testDebugUnitTest

    instrumentation-tests:
        name: Instrumentation tests
        runs-on: macOS-latest
        timeout-minutes: 60
        strategy:
            fail-fast: true
            matrix:
                api-level: [15, 19, 21, 25, 29]
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11

            # Restore the cache.
            # Intentionally don't set 'restore-keys' so the cache never contains redundant dependencies.
            - uses: actions/cache@v2
              with:
                  path: ~/.gradle/caches
                  key: gradle-${{ runner.os }}-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Instrumentation tests
              uses: reactivecircus/android-emulator-runner@v2
              with:
                  api-level: ${{ matrix.api-level }}
                  arch: x86_64
                  emulator-build: 6110076 # https://github.com/ReactiveCircus/android-emulator-runner/issues/160
                  script: ./gradlew connectedDebugAndroidTest

    deploy-snapshot:
        name: Deploy snapshot
        runs-on: ubuntu-latest
        timeout-minutes: 10
        if: github.ref == 'refs/heads/main'
        needs: [check, unit-tests, instrumentation-tests]
        steps:
            - uses: actions/checkout@v2
            - uses: gradle/wrapper-validation-action@v1
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11
            - uses: actions/cache@v2
              with:
                  path: ~/.gradle/caches
                  key: gradle-${{ runner.os }}-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Deploy Snapshot
              env:
                  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
                  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
              run: ./publish_remote.sh
