name: CI
on:
    push:
        branches:
            - main
    pull_request:
jobs:
    checks:
        name: Checks
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11
            - run: ./ci_clear_gradle_cache.sh
            - uses: actions/cache@v2
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Check Gradle wrapper
              uses: gradle/wrapper-validation-action@v1

            - name: Check style
              run: ./gradlew ktlintCheck

            # Check if there has been a binary incompatible change to the API.
            # If this change is intentional, run `./gradlew apiDump` and commit the new API files.
            - name: Check binary compatibility
              run: ./gradlew apiCheck

    unit-tests:
        name: Unit tests
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11
            - run: ./ci_clear_gradle_cache.sh
            - uses: actions/cache@v2
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Unit tests
              run: ./gradlew testDebugUnitTest

    instrumentation-tests:
        name: Instrumentation tests
        runs-on: macOS-latest
        timeout-minutes: 30
        strategy:
            fail-fast: true
            matrix:
                # API 21 is flaky and times out.
                api-level: [22, 26, 30]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11
            - run: ./ci_clear_gradle_cache.sh
            - uses: actions/cache@v2
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            # API 30+ emulators only have Google API system images.
            - name: Get AVD target
              uses: ./.github/actions/get-avd-target
              id: avd-target
              with:
                  api-level: ${{ matrix.api-level }}

            # Retrieve the cached emulator snapshot.
            - uses: actions/cache@v2
              id: avd-cache
              with:
                  path: |
                      ~/.android/avd/*
                      ~/.android/adb*
                  key: avd-${{ matrix.api-level }}-${{ steps.avd-target.outputs.target }}

            # Create a new emulator snapshot if it isn't present in the cache.
            - name: Create AVD snapshot
              if: steps.avd-cache.outputs.cache-hit != 'true'
              uses: reactivecircus/android-emulator-runner@v2
              with:
                  api-level: ${{ matrix.api-level }}
                  target: ${{ steps.avd-target.outputs.target }}
                  disable-animations: false
                  force-avd-creation: false
                  emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
                  script: echo "Generated AVD snapshot."

            - name: Instrumentation tests
              uses: reactivecircus/android-emulator-runner@v2
              with:
                  api-level: ${{ matrix.api-level }}
                  target: ${{ steps.avd-target.outputs.target }}
                  disable-animations: true
                  force-avd-creation: false
                  emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
                  script: ./gradlew connectedDebugAndroidTest

    deploy-snapshot:
        name: Deploy snapshot
        runs-on: ubuntu-latest
        timeout-minutes: 10
        if: github.ref == 'refs/heads/main'
        needs: [checks, unit-tests, instrumentation-tests]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-java@v2
              with:
                  distribution: 'adopt'
                  java-version: 11
            - run: ./ci_clear_gradle_cache.sh
            - uses: actions/cache@v2
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.gradle/wrapper
                  key: ${{ runner.os }}-gradle-${{ hashFiles('**/**.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties', '**/buildSrc/src/main/kotlin/Library.kt') }}

            - name: Deploy Snapshot
              env:
                  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
                  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
              run: ./publish_remote.sh
